* {
    font-family: 'Raleway', sans-serif;
}

.clickable {
    cursor: pointer;
}

main table {
    box-shadow: 5px 5px 20px rgba(0, 0, 0, .3);
}

.mt-10 {
    margin-top: 10px;
}

.site-content {
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.5), 0 -10px 20px rgba(0, 0, 0, 0.5);
}